{% extends 'master.html' %}
{% block content %}
{% load static %}
    <!-- slider-area-start -->
    <div class="slider-area">
        <div class="slider-active owl-carousel">
            <div class="single-slider pt-125 pb-130 bg-img" style="background-image:url({% static 'img/slider/1.jpg' %});">
                <div class="slider-width">
                    <div class="slider-content slider-animated-1 text-center">
                        <h1>Huge Sale</h1>
                        <h2>PushtakSala</h2>
                        <h3>Now starting at ₹99.00</h3>
                        <a href="{% url 'books' %}">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="single-slider slider-hm6-2 pt-215 pb-140 bg-img" style="background-image:url({% static 'img/slider/11.jpg' %});">
                <div class="container">
                    <div class="col-lg-offset-4 col-lg-8">
                        <div class="slider-content slider-content-2 slider-animated-1">
                            <h1>We can help get your</h1>
                            <h2>Books in Order</h2>
                            <a href="{% url 'contact' %}">Contact Us Today!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider-area-end -->
    <!-- banner-area-6-start -->
    <div class="banner-area-6 pt-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="single-banner-8">
                        <div class="banner-img-2">
                            <a href="#"><img src="{% static 'img/banner/30.jpg' %}" alt="banner" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-12">
                    <!-- banner-area-5-start -->
                    <div class="banner-area-5">
                        <div class="single-banner-4 xs-mb">
                            <div class="banner-shadow-hover">
                                <a href="#"><img src="{% static 'img/banner/24.jpg' %}" alt="banner" /></a>
                            </div>
                        </div>
                        <div class="single-banner-5">
                            <div class="banner-shadow-hover">
                                <a href="#"><img src="{% static 'img/banner/23.jpg' %}" alt="banner" /></a>
                            </div>
                        </div>
                    </div>
                    <!-- banner-area-5-end -->
                </div>
            </div>
        </div>
    </div>
    <!-- banner-area-6-end -->
    <!-- product-area-start -->
    <div class="product-area pt-90 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center mb-50">
                        <h2>Top interesting</h2>
                        <p>Browse the collection of our best selling and top interresting products. <br /> ll definitely find what you are looking for..</p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <!-- tab-menu-start -->
                    <div class="tab-menu mb-40 text-center">
                        <ul class="nav justify-content-center">
                            <li><a class="active" href="#Audiobooks" data-toggle="tab">New Arrival </a></li>
                            <li><a href="#books" data-toggle="tab">OnSale</a></li>
                            <li><a href="#bussiness" data-toggle="tab">Featured Products</a></li>
                        </ul>
                    </div>
                    <!-- tab-menu-end -->
                </div>
            </div>
            <!-- tab-area-start -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="Audiobooks">
                    <div class="tab-active owl-carousel">

                        {% for i in NewArrival %}
                        <div class="tab-total">
                            <!-- single-product-start -->
                            <div class="product-wrapper mb-40">
                                <div class="product-img">
                                        <img src="{{i.book_image.url}}" alt="book" class="primary" />
                                    <div class="product-flag">
                                        <ul>
                                            <li><span class="sale">new</span> </li>
                                            <li><span class="discount-percentage">-5%</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-details text-center">
                                    <div class="product-rating">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        </ul>
                                    </div>
                                    <h4><a href="#">{{i.book_name}}</a></h4>
                                    <div class="product-price">
                                        <ul>
                                            <li>${{i.book_offer_price}}</li>
                                            <li class="old-price">${{i.book_actual_price}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-link">
                                    <div class="product-button">
<!--                                        <a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>-->
                                    </div>
                                    <div class="add-to-link">
                                        <ul>
                                            <li><a href="{% url 'bookdetails' i.pk %}" title="Details"><i class="fa fa-external-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>


                <div class="tab-pane fade" id="books">
                    <div class="tab-active owl-carousel">
                        {% for i in OnSale %}
                        <div class="tab-total">
                            <!-- single-product-start -->
                            <div class="product-wrapper mb-40">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="{{i.book_image.url}}" alt="book" class="primary" />
                                    </a>
                                    <div class="quick-view">
                                        <a class="action-view" href="#" data-target="#productModal" data-toggle="modal" title="Quick View">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </div>
                                    <div class="product-flag">
                                        <ul>
                                            <li><span class="sale">new</span> </li>
                                            <li><span class="discount-percentage">-5%</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-details text-center">
                                    <div class="product-rating">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        </ul>
                                    </div>
                                    <h4><a href="#">{{i.Book_Name}}</a></h4>
                                    <div class="product-price">
                                        <ul>
                                            <li>${{i.Book_Offer_Price}}</li>
                                            <li class="old-price">${{i.Book_Acturl_Price}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-link">
                                    <div class="product-button">
                                        <a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>
                                    <div class="add-to-link">
                                        <ul>
                                            <li><a href="{% url 'bookdetails' %}" title="Details"><i class="fa fa-external-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

{% endfor %}
                    </div>
                </div>




                <div class="tab-pane fade" id="bussiness">
                    <div class="tab-active owl-carousel">

                        {% for i in FeaturedProducts %}
                                <div class="tab-total">
                            <!-- single-product-start -->
                            <div class="product-wrapper mb-40">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="{{i.Book_Image.url}}" alt="book" class="primary" />
                                    </a>
                                    <div class="quick-view">
                                        <a class="action-view" href="#" data-target="#productModal" data-toggle="modal" title="Quick View">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </div>
                                    <div class="product-flag">
                                        <ul>
                                            <li><span class="sale">new</span> </li>
                                            <li><span class="discount-percentage">-5%</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-details text-center">
                                    <div class="product-rating">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        </ul>
                                    </div>
                                    <h4><a href="#">{{i.Book_Name}}</a></h4>
                                    <div class="product-price">
                                        <ul>
                                            <li>${{i.Book_Offer_Price}}</li>
                                            <li class="old-price">${{i.Book_Acturl_Price}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-link">
                                    <div class="product-button">
                                        <a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>
                                    <div class="add-to-link">
                                        <ul>
                                            <li><a href="{% url 'bookdetails' %}" title="Details"><i class="fa fa-external-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                </div>
            </div>
            <!-- tab-area-end -->
        </div>
    </div>
    <!-- product-area-end -->
    <!-- banner-static-area-start -->
    <div class="banner-static-area bg ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="banner-shadow-hover xs-mb">
                        <a href="#"><img src="{% static 'img/banner/28.jpg' %}" alt="banner" /></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="banner-shadow-hover">
                        <a href="#"><img src="{% static 'img/banner/29.jpg' %}" alt="banner" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonial-area ptb-100 bg">
        <div class="container">
            <div class="row">
                <div class="testimonial-active owl-carousel">
                    <div class="col-lg-12">
                        <div class="single-testimonial text-center">
                            <div class="testimonial-img">
                                <a href=""><i class="fa fa-quote-right"></i></a>
                            </div>
                            <div class="testimonial-text">
                                <p>I'm so happy with all of the themes, great support, could not wish for more. These people are <br /> geniuses ! Kudo's from the Netherlands !</p>
                                <a href=""><span>Sandy Wilcke </span>/user</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="single-testimonial text-center">
                            <div class="testimonial-img">
                                <a href=""><i class="fa fa-quote-right"></i></a>
                            </div>
                            <div class="testimonial-text">
                                <p>All Perfect !! I have three sites with magento , this theme is the best !! Excellent support ,<br /> advice theme installation package , sorry for English, are Italian but I had no problem !! Thank you !</p>
                                <a href=""><span>Sandy Wilcke </span>/user</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonial-area-end -->
    <!-- recent-post-area-start -->
    <div class="recent-post-area pt-95 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title section-title-res text-center mb-30">
                        <h2>Latest from our blog</h2>
                    </div>
                </div>
                <div class="post-active owl-carousel text-center">
                    <div class="col-lg-12">
                        <div class="single-post">
                            <div class="post-img">
                                <a href=""><img src="{% static 'img/post/1.jpg' %}" alt="post" /></a>
                                <div class="blog-date-time">
                                    <span class="day-time">06</span>
                                    <span class="moth-time">Dec</span>
                                </div>
                            </div>
                            <div class="post-content">
                                <h3><a href="">Nam tincidunt vulputate felis</a></h3>
                                <span class="meta-author"> Demo koparion </span>
                                <p>Discover five of our favourite dresses from our new collection that are destined to be worn and loved immediately.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="single-post">
                            <div class="post-img">
                                <a href="blog-details.html"><img src="{% static 'img/post/2.jpg' %}" alt="post" /></a>
                                <div class="blog-date-time">
                                    <span class="day-time">06</span>
                                    <span class="moth-time">Dec</span>
                                </div>
                            </div>
                            <div class="post-content">
                                <h3><a href="">Interdum et malesuada</a></h3>
                                <span class="meta-author"> Demo koparion </span>
                                <p>Discover five of our favourite dresses from our new collection that are destined to be worn and loved immediately.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-newsletter-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-12">
                    <div class="container-inner">
                        <h2>Sign up for send newsletter</h2>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-12">
                    <div class="newsletter-content">
                        <form class="d-md-flex" action="" method="POST">{% csrf_token %}
                            <input type="text"  name ='email' placeholder="Enter your email address" />
                            <button>Send Email</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- block-newsletter-2-end -->
    {% endblock %}